snippet $
$('#${1}')${0}
endsnippet

snippet ready
(function($, window, document) {
	// The $ is now locally scoped
	// The rest of your code goes here!
}(window.jQuery, window, document));
endsnippet

snippet cl
console.log(${0});
endsnippet

snippet fn
function(${1}) {
	${2}
}${0}
endsnippet
